LOCAL_UID=1000
LOCAL_GID=1000
TMF_GAME_SETTINGS_FILE=MatchSettings/Nations/NationsBlue.txt
TMF_ADDITIONAL_OPTIONS=/lan
TMF_GAME_DATA_DIR=/var/tmf/GameData
TMF_GAME_LOGS_DIR=/var/tmf/Logs
XASECO_CONFIG_DIR=/var/xaseco/config
XASECO_LOG_DIR=/var/xaseco/logs
XASECO_DB_DIR=/var/xaseco/db
XASECO_DB_ROOT_PASSWORD=password
XASECO_DB_USER_PASSWORD=password
